@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700,800);
button {
  transform: skew(160deg);
  border: none;
  outline: none;
  padding: 0 55px;
  background: #916C58;
  color: white;
  cursor: pointer;
  font-family: Raleway;
  font-weight: 600;
  font-size: 14px;
  line-height: 46px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

button:hover {
  filter: brightness(110%);
}

button span {
  transform: skew(-160deg);
  display: inline-block;
}


