
html, body {
    height: 100%;
    margin: 0;
}
#gbslevel-app {
    height: 100%;
    font-family: 'Raleway';
    font-feature-settings: 'pnum' on, 'lnum' on;
}


.modal-overlay[data-v-a4c6995e]{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    transition: backdrop-filter .5s ease-in-out,
        -webkit-backdrop-filter .5s ease-in-out,
        background-color .5s ease-in-out;
}
.modal-overlay.is-opened[data-v-a4c6995e]{
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.modal[data-v-a4c6995e]{
    font-family: Raleway;
    width:502px;
    background-color: #fff;
    padding-top: 60px ;
    padding-bottom: 60px ;
    position: fixed;
    top:50%;
    /* top:60%; */
    left:50%;
    transform: translate(-50%, -50%) scale(1.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: all .5s ease-in-out;
    filter: blur(10px);
}
.modal-overlay.is-opened  .modal[data-v-a4c6995e]{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    /* top:50%; */
    filter: unset;
}
.modal .title[data-v-a4c6995e]{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.05em;
}
.modal .description[data-v-a4c6995e]{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;
}
.modal button[data-v-a4c6995e]{
    margin-top:40px;
}
.modal[data-v-a4c6995e]:before, .modal[data-v-a4c6995e]::after{
    display: block;
    content: '';
    width:70px;
    height:60px;
    position: absolute;
    background: url(/images/popup-corner.svg?cc99813fe6ea6f302a16e7b4a4e1a7ae) no-repeat;
}
.modal[data-v-a4c6995e]:before{
    top: 0;
    left: 10px;
    transform: translateY(-50%);
}
.modal[data-v-a4c6995e]::after{
    bottom: 0;
    right: 10px;
    transform: translateY(50%);
}

button[data-v-8048fca2] {
  margin-top: 35px;
  align-self: center;
}
form[data-v-8048fca2] {
  display: flex;
  flex-direction: column;
}
.input-wrapper[data-v-8048fca2] {
  width: 370px;
  height: 69px;
  position: relative;
}
.input-wrapper + .input-wrapper[data-v-8048fca2] {
  margin-top: 30px;
}
input[data-v-8048fca2]::-webkit-outer-spin-button,
input[data-v-8048fca2]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number][data-v-8048fca2] {
  -moz-appearance: textfield;
}
input[data-v-8048fca2] {
  position: absolute;
  width: 100%;
  height: 25px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 14px;
  color: #fff;
  border: none;
  outline: none;
  background-color: transparent;
  padding: unset;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  transition: border-bottom 0.2s ease-out;
}
input[data-v-8048fca2]:focus {
  border-bottom: 2px solid white;
}
input:not(:-moz-placeholder-shown) + label[data-v-8048fca2] {
  color: #916C58;
  margin-bottom: 10px;
  font-size: 15px;
  opacity: 1;
}
input:not(:-ms-input-placeholder) + label[data-v-8048fca2] {
  color: #916C58;
  margin-bottom: 10px;
  font-size: 15px;
  opacity: 1;
}
input:focus + label[data-v-8048fca2], input:not(:placeholder-shown) + label[data-v-8048fca2] {
  color: #916C58;
  margin-bottom: 10px;
  font-size: 15px;
  opacity: 1;
}
label[data-v-8048fca2] {
  position: absolute;
  top: -26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  opacity: 0.55;
  transition: all 0.2s ease-out;
}
.error-message[data-v-8048fca2] {
  color: #916C58;
  position: absolute;
  top: 30px;
  right: 0;
  transition: opacity 0.2s ease-out;
}
.feed_back_view[data-v-28c122d5] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  color: #fff;
  padding: 60px 0 80px;
  box-sizing: border-box;
}
.feed_back_view.g[data-v-28c122d5] {
  background: url(/images/background-g.png?265de2c05b5404c1bce535377c88941f) no-repeat center;
  background-size: cover;
}
.feed_back_view.b[data-v-28c122d5] {
  background: url(/images/background-b.png?7ae97d10fdd04337e46b98803b0fa5d8) no-repeat center;
  background-size: cover;
}
.feed_back_view.s[data-v-28c122d5] {
  background: url(/images/background-s.png?ccb8c3b21cfb0db30d55d6304200adb4) no-repeat center;
  background-size: cover;
}
.feed_back_view .address[data-v-28c122d5] {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
}
.feed_back_view .logo[data-v-28c122d5] {
  width: 178px;
  height: 84px;
  flex-grow: 1;
}
.feed_back_view .logo.g[data-v-28c122d5] {
  background: url(/images/g-level.svg?6714fed85f347740e7606f42a6405576) no-repeat center;
}
.feed_back_view .logo.b[data-v-28c122d5] {
  background: url(/images/b-level.svg?e662ee80afbce3bad2d2ad1714fedbf5) no-repeat center;
}
.feed_back_view .logo.s[data-v-28c122d5] {
  background: url(/images/s-level.svg?e81ba970ec90a272fe7528df261b9762) no-repeat center;
}
.phone[data-v-28c122d5] {
  font-family: Raleway;
  font-weight: 800;
  font-size: 36px;
  letter-spacing: 0.1em;
  font-feature-settings: "pnum" on, "lnum" on;
}
.feed_back_view .text-1[data-v-28c122d5] {
  margin: 5vh 0;
  text-align: center;
  line-height: 27px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-feature-settings: "pnum" on, "lnum" on;
}
