
html, body {
    height: 100%;
    margin: 0;
}
#gbslevel-app {
    height: 100%;
}

/* body.is-popup-opened{
    backdrop-filter: blur(10px);
}

body.is-popup-opened .feed_back_view{
    filter: blur(10px);
} */


/* body.is-popup-opened > div.popup{
    opacity: 1;
} */

/* body.popup > div.popup {
    opacity: 1;
} */


.modal-overlay[data-v-a4c6995e]{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    transition: backdrop-filter .5s ease-in-out, 
        -webkit-backdrop-filter .5s ease-in-out, 
        background-color .5s ease-in-out;
}
.modal-overlay.is-opened[data-v-a4c6995e]{
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.modal[data-v-a4c6995e]{
    font-family: Raleway;
    width:502px;
    background-color: #fff;
    padding-top: 60px ;
    padding-bottom: 60px ;
    position: fixed;
    top:50%;
    /* top:60%; */
    left:50%;
    transform: translate(-50%, -50%) scale(1.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transition: all .5s ease-in-out;
    filter: blur(10px);
}
.modal-overlay.is-opened  .modal[data-v-a4c6995e]{
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    /* top:50%; */
    filter: unset;
}
.modal .title[data-v-a4c6995e]{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.05em;
}
.modal .description[data-v-a4c6995e]{
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;
}
.modal button[data-v-a4c6995e]{
    margin-top:40px;
}
.modal[data-v-a4c6995e]:before, .modal[data-v-a4c6995e]::after{
    display: block;
    content: '';
    width:70px;
    height:60px;
    position: absolute;
    background: url(/images/popup-corner.svg?cc99813fe6ea6f302a16e7b4a4e1a7ae) no-repeat;
}
.modal[data-v-a4c6995e]:before{
    top: 0;
    left: 10px;
    transform: translateY(-50%);
}
.modal[data-v-a4c6995e]::after{
    bottom: 0;
    right: 10px;
    transform: translateY(50%);
}


button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}
button{
    transform: skew(150deg);
    border: none;
    outline: none;
    padding: 15px;
    background: #916C58;
    color: white;
    cursor: pointer;


    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
button span{
    transform: skew(-150deg);
    display: inline-block;
}
.input-wrapper{
    display:flex;
    flex-direction:column;
}
.input-wrapper label {
    order: -1;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    opacity: 0.55;
}
.input-wrapper + .input-wrapper {
    margin-top: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}
.input-wrapper input{
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #fff;

    border: none;
    outline: none;
    border-bottom: 2px solid rgba(255,255,255, .25);
    background-color: transparent;
    padding: unset;
    height: 25px;
    width: 370px;
}
.input-wrapper input:focus + label{
    background-color: red;
}
.input-wrapper .error-message{
    color: #916C58;
    align-self: flex-end;
}


body {
    background:url(/images/background-1.png?265de2c05b5404c1bce535377c88941f) no-repeat center;
    background-size: cover;
    /* transition: backdrop-filter .3s ease-out; */
}
.feed_back_view{
    /* transition: filter .3s ease-out; */
    display:flex;
    flex-direction:column;
    /* todo */
    justify-content: space-evenly;
    height:100%;
    align-items:center;
    color:#fff;
}
.feed_back_view .address{
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.1em;
}
.feed_back_view .logo{
    width: 178px;
    height:84px;
    background: url(/images/g-level.svg?6714fed85f347740e7606f42a6405576) no-repeat;
}
.feed_back_view .text-1{
    text-align:center;
}



