
.phone-link::before{
        background:url(/images/phone-icon.svg?6606c30dc31d93744d33a398f4312050) no-repeat center;
        content: '';
        width: 21px;
        height: 20px;
        position: absolute;
}

.header .logo {
  width: 178px;
  height: 84px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-grow: 1;
  background-size: 178px 84px;
}
@media screen and (max-width: 767px) {
.header .logo {
    width: 90px;
    height: 42px;
    background-size: 92px 42px;
    flex-grow: unset;
}
}
.header .logo.g {
  background-image: url(/images/g-level.svg?6714fed85f347740e7606f42a6405576);
}
.header .logo.b {
  background-image: url(/images/b-level.svg?65998a52bc75e3367d5878dba8f72615);
}
.header .logo.s {
  background-image: url(/images/s-level.svg?66970d48e594fdfc781d762fd2e8de1c);
}
.header .address {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
.header .address {
    font-size: 12px;
    line-height: 14px;
}
}
.header .menu-open {
  background-image: url(/images/menu-open.svg?87e74746bd587cbd0c724e573fb0b27a);
}
@-webkit-keyframes animate-circle {
from {
    transform: scale(0);
    opacity: 1;
}
to {
    transform: scale(1);
    opacity: 0;
}
}
@keyframes animate-circle {
from {
    transform: scale(0);
    opacity: 1;
}
to {
    transform: scale(1);
    opacity: 0;
}
}
.overlay-loader {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
}
.loader {
  z-index: 1;
  --size: 10rem;
  position: fixed;
  top: 50%;
  left: 50%;
  height: var(--size);
  width: var(--size);
  transform: translateX(-50%) translateY(-50%);
}
.loader > .circle {
  --duration: 2s;
  position: absolute;
  height: inherit;
  width: inherit;
  background: #ffffff;
  border-radius: 50%;
  -webkit-animation: animate-circle var(--duration) cubic-bezier(0.9, 0.24, 0.62, 0.79) infinite;
  animation: animate-circle var(--duration) cubic-bezier(0.9, 0.24, 0.62, 0.79) infinite;
}
.loader > .circle:nth-of-type(1) {
  -webkit-animation-delay: 0;
  animation-delay: 0;
}
.loader > .circle:nth-of-type(2) {
  -webkit-animation-delay: calc(var(--duration) / -3);
  animation-delay: calc(var(--duration) / -3);
}
.loader > .circle:nth-of-type(3) {
  -webkit-animation-delay: calc(var(--duration) / -6);
  animation-delay: calc(var(--duration) / -6);
}

html, body {
    height: 100%;
    margin: 0;
}
#gbslevel-app {
    height: 100%;
    /* height: 702px; */
    font-family: 'Raleway';
    font-feature-settings: 'pnum' on, 'lnum' on;
    background-color: #000000;
    /* height: 100vh; */
    /* min-height: 100vh; */
    overflow: auto;
}

.modal-overlay[data-v-a4c6995e] {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  transition: backdrop-filter 0.5s ease-in-out, -webkit-backdrop-filter 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.modal-overlay.is-opened[data-v-a4c6995e] {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
.modal[data-v-a4c6995e] {
  font-family: Raleway;
  width: 502px;
  background-color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
  box-sizing: border-box;
  position: fixed;
  top: 50%;
  /* top:60%; */
  left: 50%;
  transform: translate(-50%, -50%) scale(1.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  filter: blur(10px);
}
.modal-overlay.is-opened .modal[data-v-a4c6995e] {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  /* top:50%; */
  filter: unset;
}
.modal .title[data-v-a4c6995e] {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.05em;
}
.modal .description[data-v-a4c6995e] {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.05em;
}
.modal button[data-v-a4c6995e] {
  margin-top: 40px;
}
.modal[data-v-a4c6995e]::before, .modal[data-v-a4c6995e]::after {
  display: block;
  content: "";
  width: 70px;
  height: 60px;
  position: absolute;
  background: url(/images/popup-corner.svg?cc99813fe6ea6f302a16e7b4a4e1a7ae) no-repeat;
  background-size: cover;
}
.modal[data-v-a4c6995e]::before {
  top: 0;
  left: 10px;
  transform: translateY(-50%);
}
.modal[data-v-a4c6995e]::after {
  bottom: 0;
  right: 10px;
  transform: translateY(50%);
}

/* @media screen and (max-width: 1280px) {

} */
@media screen and (max-width: 767px) {
.modal[data-v-a4c6995e] {
    width: 289px;
    padding: 40px 20px;
}
.modal[data-v-a4c6995e]::before, .modal[data-v-a4c6995e]::after {
    width: 35px;
    height: 30px;
}
.modal[data-v-a4c6995e]::before {
    left: 5px;
}
.modal[data-v-a4c6995e]::after {
    right: 5px;
}
.modal .title[data-v-a4c6995e] {
    font-size: 18px;
    line-height: 21px;
}
.modal .description[data-v-a4c6995e] {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
}
.modal button[data-v-a4c6995e] {
    margin-top: 30px;
}
}
button[data-v-8048fca2] {
  margin-top: 35px;
  align-self: center;
}
form[data-v-8048fca2] {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
form[data-v-8048fca2] {
    width: 100%;
}
}
.input-wrapper[data-v-8048fca2] {
  width: 370px;
  height: 69px;
  position: relative;
}
@media screen and (max-width: 767px) {
.input-wrapper[data-v-8048fca2] {
    width: unset;
    height: 50px;
}
}
.input-wrapper + .input-wrapper[data-v-8048fca2] {
  margin-top: 30px;
}
input[data-v-8048fca2]::-webkit-outer-spin-button,
input[data-v-8048fca2]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number][data-v-8048fca2] {
  -moz-appearance: textfield;
}
input[data-v-8048fca2] {
  position: absolute;
  width: 100%;
  height: 25px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  border: none;
  outline: none;
  background-color: transparent;
  padding: unset;
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
  transition: border-bottom 0.2s ease-out;
}
input[data-v-8048fca2]:focus {
  border-bottom: 2px solid white;
}
input:not(:-moz-placeholder-shown) + label[data-v-8048fca2] {
  color: #916C58;
  margin-bottom: 10px;
  font-size: 15px;
  opacity: 1;
}
input:not(:-ms-input-placeholder) + label[data-v-8048fca2] {
  color: #916C58;
  margin-bottom: 10px;
  font-size: 15px;
  opacity: 1;
}
input:focus + label[data-v-8048fca2], input:not(:placeholder-shown) + label[data-v-8048fca2] {
  color: #916C58;
  margin-bottom: 10px;
  font-size: 15px;
  opacity: 1;
}
@media screen and (max-width: 767px) {
input:not(:-moz-placeholder-shown) + label[data-v-8048fca2] {
    font-size: 12px;
}
input:not(:-ms-input-placeholder) + label[data-v-8048fca2] {
    font-size: 12px;
}
input:focus + label[data-v-8048fca2], input:not(:placeholder-shown) + label[data-v-8048fca2] {
    font-size: 12px;
}
}
@media screen and (max-width: 767px) {
input[data-v-8048fca2] {
    font-size: 14px;
}
}
label[data-v-8048fca2] {
  position: absolute;
  top: -26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  opacity: 0.55;
  transition: all 0.2s ease-out;
}
@media screen and (max-width: 767px) {
label[data-v-8048fca2] {
    font-size: 16px;
    line-height: 18px;
    top: -17px;
}
}
.error-message[data-v-8048fca2] {
  color: #916C58;
  position: absolute;
  top: 30px;
  right: 0;
  transition: opacity 0.2s ease-out;
}
.feed_back_view[data-v-28c122d5] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  color: #fff;
  padding: 60px 0 80px;
  box-sizing: border-box;
}
.feed_back_view.g[data-v-28c122d5] {
  background: url(/images/background-g.png?265de2c05b5404c1bce535377c88941f) no-repeat center;
  background-size: cover;
}
.feed_back_view.b[data-v-28c122d5] {
  background: url(/images/background-b.png?7ae97d10fdd04337e46b98803b0fa5d8) no-repeat center;
  background-size: cover;
}
.feed_back_view.s[data-v-28c122d5] {
  background: url(/images/background-s.png?ccb8c3b21cfb0db30d55d6304200adb4) no-repeat center;
  background-size: cover;
}
@media screen and (max-width: 767px) {
.feed_back_view[data-v-28c122d5] {
    padding: 54px 15px 40px;
}
}
.feed_back_view .address[data-v-28c122d5] {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.1em;
}
@media screen and (max-width: 767px) {
.feed_back_view .address[data-v-28c122d5] {
    font-size: 12px;
    line-height: 14px;
}
}
.feed_back_view .logo[data-v-28c122d5] {
  width: 178px;
  height: 84px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-grow: 1;
  background-size: 178px 84px;
}
@media screen and (max-width: 767px) {
.feed_back_view .logo[data-v-28c122d5] {
    width: 90px;
    height: 42px;
    background-size: 92px 42px;
    flex-grow: unset;
}
}
.feed_back_view .logo.g[data-v-28c122d5] {
  background-image: url(/images/g-level.svg?6714fed85f347740e7606f42a6405576);
}
.feed_back_view .logo.b[data-v-28c122d5] {
  background-image: url(/images/b-level.svg?65998a52bc75e3367d5878dba8f72615);
}
.feed_back_view .logo.s[data-v-28c122d5] {
  background-image: url(/images/s-level.svg?66970d48e594fdfc781d762fd2e8de1c);
}
.phone[data-v-28c122d5] {
  font-family: Raleway;
  font-weight: 800;
  font-size: 36px;
  letter-spacing: 0.1em;
  font-feature-settings: "pnum" on, "lnum" on;
}
.phone a[data-v-28c122d5] {
  color: inherit;
  text-decoration: none;
}
@media screen and (max-width: 767px) {
.phone[data-v-28c122d5] {
    font-size: 24px;
    line-height: 28px;
}
}
.feed_back_view .text-1[data-v-28c122d5] {
  margin: 5vh 0;
  text-align: center;
  line-height: 27px;
  font-family: Raleway;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.1em;
  font-feature-settings: "pnum" on, "lnum" on;
}
@media screen and (max-width: 767px) {
.feed_back_view .text-1[data-v-28c122d5] {
    font-size: 14px;
    line-height: 21px;
    margin: unset;
}
}

.home_view{
    display: flex;
    overflow: hidden;
    height:100%;
}
div.slide {
    font-size: 40px;
    color:white;
    display: flex;
    justify-content: center;
    flex: 1 1 0%;
    margin-right: -2px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    transition: all .3s ease-in-out;
    filter: brightness(75%);
    overflow: hidden;
    transform: skew(-15deg);
    transform-origin: bottom;
    position: relative;
}
div.slide > * {
    transform: skew(15deg) ;
}
div.slide img {
    height: 100%;
    transition: all .3s ease-in-out;
}
.slide.is-target {
    filter: brightness(100%);
    flex-grow: 3;
}
.slide.is-target .text{
    opacity: 1;
}
.slide.is-target .text .your-level-wrapper {
    opacity: 1;
}
.slide .text svg,
.slide .text img {
    fill:rgb(255, 255, 255);
    transition: all .2s ease;
}

/* .slide.slide.is-active .text svg {
    fill: #916C58;
} */
.text {
    opacity: 0.6;
    transition: all .3s ease-in-out;
}
.slide-1 .text {
    position: absolute;
    top: 80px;
    left: 140px;
    cursor: pointer;
}
.slide-2 .text {
    position: absolute;
    bottom: calc(50% - 250px/2);
    left: calc(50% - 227px/2);
    cursor: pointer;
}
.slide-3 .text {
    position: absolute;
    bottom: 70px;
    right: 208px;
    cursor: pointer;
}
.your-level-wrapper {
    opacity: 0;
    position: absolute;
    color: #FFFFFF;
    transition: all .3s ease-in-out;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}
.your-level-text {
    font-family: "Raleway";
    font-weight: bold;
    font-size: 18px;
    line-height: 27px;
}
.your-level-go {
    background: url(/images/arrow-right.svg?0fa2b80e7cf1b0879a6c0596a2ab2a8f) no-repeat right;
    width: 86px;
    margin-top: 40px;
    font-family: "Raleway";
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity .6s ease-in-out;
}
.your-level-go:hover {
    background: url(/images/arrow-right-hover.svg?87b43b62664da17195421bbf0a4be9aa) no-repeat right
}
.your-level-go a {
    color: #FFFFFF;
    text-decoration: none;
}
.slide.is-target .your-level-go {
    opacity: 1;
}
.slide-1 .text .your-level-wrapper {
    bottom: -131px;
    left: 107px;
}
.slide-2 .text .your-level-wrapper {
    align-items: center;
    bottom: -124px;
    left: 50%;
    transform: translateX(-50%);
}
.slide-3 .text .your-level-wrapper {
    align-items: flex-end;
    position: absolute;
    bottom: 0px;
    left: -210px;
}
@media screen and (max-width: 1280px) {
.slide .text img {
        width: 150px;
        height: auto;
}
.slide-1 .text .your-level-wrapper {
        left: 0px;
}
.slide-1 .text {
        top: 50px;
        left: 85px;
}
.slide-2 .text {
        bottom: calc(50% - 130px/2);
        left: calc(50% - 118px/2);
}
.slide-3 .text {
        bottom: 50px;
        right: 50px;
}
}
@media screen and (max-width: 767px) {
.slide .text img {
        width: 100px;
        height: 110px;
}
.slide-1 .text {
        top: 15px;
        left: 30px;
}
.slide-2 .text {
        bottom: calc(50% - 100px/2);
        left: calc(50% - 100px/2);
}
.slide-3 .text {
        bottom: 43px;
        right: 35px;
}
.your-level-wrapper {
        opacity: 1;
}
.your-level-text {
        font-size: 11px;
        line-height: 18px;
}
.slide-1 .text .your-level-wrapper {
        top: 120px;
}
.slide-2 .text .your-level-wrapper {
        bottom: -80px;
}
.slide-3 .text .your-level-wrapper{
        right: 0;
        left: unset;
        flex-direction: row-reverse;
        align-items: center;
        bottom: unset;
}
.slide-3 .text .your-level-wrapper .your-level-go{
        margin-top: 0;
        margin-right: 20px;
}
}


